<app-header></app-header>

<div class="container-fluid mx-auto border mt-5 content-center">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-6">
      <div class="text-center mt-2 border">
        City data
        <app-city></app-city>

      </div>
  </div>
  </div>
  <div class="row m-auto mb-2 justify-content-md-center">
    <div class="col-md-6 py-3 my-1 text-center border">Weather data  </div>
    <div class="col-md-6 py-3 my-1 text-center border">Daily weather data</div>
  </div>
</div>
